<div>

  {{#each allTheBeers }}

    {{!-- <img src='{{image_url}}' alt='Beer' />
    <h2>{{tagline}}</h2>
    <h4>{{name}}</h4>
    <p>{{description}}</p> --}}

     {{>beerpartial this}}

  {{/each}}

</div>
